<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>研修生テキスト一覧</title>
</head>

<body>
    <header>
        <h1>研修生テキスト一覧</h1>
    </header>

    <main>
        <div class="search-box">
            <input type="text" id="search-text" placeholder="検索">
        </div>

        <div class="sort-box">
            <label for="sort-by">並び替え:</label>
            <select id="sort-by">
                <option value="date">研修日</option>
                <option value="name">講座名</option>
                <option value="instructor">講師名</option>
            </select>
        </div>

        <ul class="text-list">
            <li class="text-card" th:each="data: ${form}">
                <h2>講師名：<span id="lecturer" th:text="${data.lecturer}"></span></h2>
                <p>研修日：<span id="date" th:text="${data.date}"></span></p>
                <p>時間：<span id="time" th:text="${data.time}"></span></p>
                <h3>講座名：<span id="course" th:text="${data.course}"></span></h3>
                <p>感想：<span id="feedback" th:text="${data.feedback}"></span></p>
            </li>
        </ul>
    </main>
</body>

</html>